---
layout: page
cv: true
---



<div id="cv">
<div id="address">
<ul>
<li>updated: 2019-10-17</li>
<li>U.S. Environmental Protection Agency</li>
<li>Atlantic Ecology Division</li>
<li>27 Tarzwell Drive</li>
<li>Narragansett, RI 02881</li>
<li>(o)401 782 9655</li>
<li>(c)401 556 4087</li>
<li><a href="hollister.jeff@epa.gov">hollister.jeff@epa.gov</a></li>
<li><a href="http://jwhollister.com">jwhollister.com</a></li>
<li>ORCID: <a href="https://orcid.org/0000-0002-9254-9740">0000-0002-9254-9740</a></li>
<li><a href="https://github.com/jhollist/vitae/raw/master/resume.pdf">Generic Resume Version</a></li>
</ul>
</div>
<div id="cv-nav">
<ul>
<li><a href="#education">Education</a></li>
<li><a href="#current-appointments">Current Appointments</a></li>
<li><a href="#research">Research</a></li>
<li><a href="#teaching">Teaching</a></li>
<li><a href="#research-products-and-presentations">Research Products</a></li>
<li><a href="#qualifications-and-activities">Qualifications and Activities</a></li>
</ul>
</div>
<h2 id="education">Education</h2>
<dl>
<dt>Dec 2004</dt>
<dd><p>Doctor of Philosophy in Environmental Science</p>
<ul>
<li><p>Department of Natural Resources Science, University of Rhode Island, Kingston, RI</p></li>
<li><p><em>Areas of emphasis:</em> Landscape Ecology, Geospatial Sciences, and Environmental Monitoring</p></li>
<li><p><em>Coursework in:</em> Coastal Ecology, Geographic Information Systems, Landscape Ecology, and Statistics</p></li>
<li><p><em>Dissertation Topic:</em> Predicting Condition of Small Estuarine Systems along the United States’ Atlantic Coast. (Advisor: Peter V. August, Ph. D.)</p></li>
</ul>
</dd>
<dt>May 1997</dt>
<dd><p>Masters of Environmental Management
Nicholas School of the Environment, Duke University, Durham, NC</p>
<ul>
<li><p><em>Areas of emphasis:</em> Resource Ecology, Landscape Ecology, and Geospatial Sciences</p></li>
<li><p><em>Coursework in:</em> Ecology, Geographic Information Systems, Remote Sensing, Landscape Ecology, Spatial Statistics and Analysis, Conservation Biology, Statistics, and Forest Ecology</p></li>
<li><p><em>Master’s project:</em> An Analysis of Red Spruce Establishment Success in Highland County, Virginia. (Advisor: Patrick N. Halpin, Ph. D.)</p></li>
</ul>
</dd>
<dt>May 1995</dt>
<dd><p>Bachelor of Science, Magna Cum Laude</p>
<ul>
<li><p>Baker University, Baldwin City, KS</p></li>
<li><p><em>Major:</em> Biology with emphasis in ecology. (Advisor: Roger L. Boyd, Ph.D.)</p></li>
</ul>
</dd>
<dt>2012-Present</dt>
<dd><p>Additional Courses and Training</p>
<ul>
<li><p>Software Carpentry Teacher Training, Fall 2014, Software Carpentry Online Teacher Training</p></li>
<li><p>Fundamentals of Website Development (CSCI E-12), Spring 2014, Harvard University, Division of Continuing Education</p></li>
<li><p>Introduction to Data Science, Coursera/University of Washington, Spring 2013</p></li>
<li><p>Introduction to Computer Science using Java II (CSCI E-50b), Spring 2013, Harvard University, Division of Continuing Education</p></li>
<li><p>Data Mining and Analysis (STATS 202), Fall 2012, Stanford University, Stanford Center for Professional Development</p></li>
<li><p>Introduction to Computer Science using Java I (CSCI E-50a), Fall 2012, Harvard University, Division of Continuing Education</p></li>
</ul>
</dd>
</dl>
<h2 id="current-appointments">Current Appointments</h2>
<dl>
<dt>Aug 2008 - Present</dt>
<dd><p>Research Ecologist, U.S. Environmental Protection Agency, Atlantic Ecology Division</p>
<ul>
<li></li>
</ul>
</dd>
<dt>Nov 2016 - Present</dt>
<dd><p>Adjunct Associate Professor, University of Rhode Island, Department of Natural
Resources Science</p>
<ul>
<li></li>
</ul>
</dd>
<dt>Dec 2005 - Present</dt>
<dd><p>Senior Fellow, Coastal Institute, University of Rhode Island</p>
<ul>
<li></li>
</ul>
</dd>
</dl>
<h2 id="research">Research</h2>
<dl>
<dt>Aug 2008 - Present</dt>
<dd><p>Research Ecologist, U.S. Environmental Protection Agency, Atlantic Ecology Division, Narragansett, RI</p>
<ul>
<li>I serve as principle investigator and provide leadership to the division on landscape ecological research, on application of geospatial sciences to the understanding of water quality in fresh and estuarine waters, and on the use of informatics and information management tools in environmental research. In this role, I have developed tools and methodologies (GIS and statistical) using numerous software packages and languages (R, ArcGIS, GRASS, Python, MS Excel) and have continued prior research on technology transfer of data, analytical methods and predictive tools to Northeast States; and developed statistical and modeling tools to facilitate use of defensible techniques in water quality criteria development. Previously I have: served as Co-lead on a project studying ecosystem services related to nutrient cycling in Northeastern lakes and ponds, was the liaison between the National Ecological Observatory Network (NEON) and EPA’s Ecosystem Services Research Program (ESRP), was task lead for our lakes ecosystem services work, and served as co-task lead for developing decision support tools for a project in Narragansett Bay and its watershed. I am currently serving as a co-Task Lead on a project exploring cyanobacteria risk in lakes of the Northeastern US. I am also exploring the use of Open Science, data science, and computational ecology in our various research programs.</li>
</ul>
</dd>
<dt>May 2006 – July 2008</dt>
<dd><p>Postdoctoral Landscape Ecologist, U.S. Environmental Protection Agency, Atlantic Ecology Division, Narragansett, RI</p>
<ul>
<li>Contributed to research and technology transfer of National Coastal Assessment data, analytical methods and predictive tools to Northeast States. Developed statistical and modeling tools (e.g. Conditional Probability Analysis with R and Excel) to facilitate use of defensible techniques in water quality criteria development. Provided Landscape Ecology, Spatial Statistics and GIS support to a variety of ongoing projects at the Atlantic Ecology Division and within US EPA’s Office of Research and Development. Explored linkages between landscape and downstream receiving waters and examined utility of broad scale monitoring data in identifying and assessing ecological impairment.</li>
</ul>
</dd>
<dt>Aug 2005 – May 2006</dt>
<dd><p>Postdoctoral Fellow, U.S. Coast Guard Academy, Department. of Science, Marine Sciences Section, New London, CT</p>
<ul>
<li>Continued prior research on multi-scale interactions between landscape structure (via NLCD) and sediment metal concentrations (via EMAP) and predictive modeling of estuarine impairment. Worked with students, faculty and colleagues in the Marine Sciences Section, the International Ice Patrol, and Information Services Division on a wide variety of Geographic Information Systems projects.</li>
</ul>
</dd>
<dt>Jan 2005 – July 2005</dt>
<dd><p>Postdoctoral Associate, American Institute of Biological Sciences, National Ecological Observatory (NEON) Project Office, Washington, DC</p>
<ul>
<li>Researched and assisted in planning of ecological observatories designed to address the National Research Council’s Environmental Grand Challenges. Made specific contributions in the design of the land use change component of NEON and design of a Multi-Scaled Remote Sensing System designed to support and develop NEON analytical tools and ecological forecasting models. Other duties included managing Geographic Information Systems operations in the Project Office, maintaining the NEON web presence (<a href="http://www.neoninc.org" class="uri">http://www.neoninc.org</a>), interacting with research scientists and educators on the NEON Senior Management Team and National Network Design Committee, and assisting with the day-to-day operations of the NEON Project Office.</li>
</ul>
</dd>
<dt>Sep 2000 – Dec 2004</dt>
<dd><p>U.S. EPA/URI Pre-doctoral Fellow/Doctoral Research/Graduate Research Assistant, USEPA Atlantic Ecology Division/University of Rhode Island Northeast Environmental Research Training Program, Narragansett, RI/Kingston, RI</p>
<ul>
<li>Used monitoring data from the Environmental Monitoring and Assessment Program (EMAP) and the National Land Cover Dataset (NLCD) to explore relationships between landscape structure and indicators of estuarine condition. I specifically researched the accuracy of the NLCD at multiple spatial scales, the role of spatial scale on the relationship between landscape organization (e.g. landscape composition) and ecological health and integrity of Atlantic coast estuaries, and built predictive models of estuarine condition designed to locate estuaries with impacted ecological integrity. As member of Landscape Ecology Working Group, discussed and assisted on projects at USEPA Atlantic Ecology Division and URI utilizing landscape ecology, spatial analysis and broad scale environmental monitoring data, in particular NLCD and EMAP.</li>
</ul>
</dd>
<dt>May 2003 – Aug 2004</dt>
<dd><p>Geographic Information Systems/Biological Database Specialist, Rhode Island Natural History Survey, Kingston, RI</p>
<ul>
<li>Contributed towards the design and implementation of the Rhode Island Natural History Survey (RINHS) Biodiversity Databases, specifically the Odonata of Rhode Island and the Biota of Rhode Island. Designed field sampling methodology to accurately map invasive species with geostatistical techniques.</li>
</ul>
</dd>
<dt>Jan 2001 – June 2001</dt>
<dd><p>Geographic Information System/Eelgrass Restoration Modeling Consultant, Save the Bay, Inc., Kingston, RI</p>
<ul>
<li>Compiled bathymetry, current and historic eelgrass locations, historic, and water quality data sets for use in eelgrass restoration efforts. Using the Short et al. (2002) methodology, built geographic information system models of eelgrass restoration potential and generated maps of areas in Narragansett Bay with higher potential of eelgrass restoration success.</li>
</ul>
</dd>
<dt>June 1998 – July 2000</dt>
<dd><p>Lead Research Technician in Landscape Ecology, J.W. Jones Ecological Research Center, Landscape Ecology Lab, Newton, GA</p>
<ul>
<li>Conducted research on ecological impacts of small wetland loss in the Southeastern United States, use of home range in the design of gopher tortoise (Gopherus polyphemus) reserves, and habitat use and landscape ecology of Northern Bobwhite Quail . Other research duties included remote sensing data analysis (e.g. Landsat Thematic Mapper, SPOT-XS, B&amp;W and CIR Aerial Photography), analysis of vector and raster GIS data, and field data collection (e.g. GPS, vegetation data). Supervised and assisted other technicians, graduate students and summer field workers and managed day-to-day operations of the Landscape Ecology Lab.</li>
</ul>
</dd>
<dt>Aug 1997 – Jan 1998</dt>
<dd><p>Geographic Information Systems Specialist, Research Triangle Institute, Research Triangle Park, NC</p>
<ul>
<li>Developed a GIS methodology and series of Arc Macro Language scripts to facilitate the identification of river reaches, as required by the Clean Water Act, in the states of North Dakota and Arkansas.</li>
</ul>
</dd>
<dt>May 1996 – July 1997</dt>
<dd><p>Resource Ecology Master’s Research, Duke University, Landscape Ecology Lab, Durham, NC</p>
<ul>
<li>Researched environmental, ecological, and spatial controls on the establishment success of Red Spruce (Picea rubens) in northwestern Virginia. Research techniques included a variety of geographic information systems analytical tools (e.g. Topographic Convergence Index) and spatial statistics techniques (e.g. partial mantel’s tests).</li>
</ul>
</dd>
</dl>
<h2 id="teaching">Teaching</h2>
<dl>
<dt>Jan 2007 – Nov 2016</dt>
<dd><p>Adjunct Assistant Professor, University of Rhode Island, Department of Natural Resources Science, Kingston, RI</p>
<ul>
<li>Team taught in alternating Spring Semesters, with Dr. Peter V. August, Ecology of Fragmented Landscapes (NRS 534) a graduate level <a href="http://www.edc.uri.edu/nrs/classes/nrs534/">seminar course in Landscape Ecology</a>. Course included readings and group discussion of the concepts and principles of landscape ecology. Team taught with Drs. Rachel Schwartz and Harrison Dekker, <a href="https://rhodyrstats.github.io/special_topics_in_r">Special Topics in R</a>. Also team taught with Drs. Peter V August and Adam Smith, a <a href="http://scicomp2014.edc.uri.edu">scientific computing survey course</a> focusing on R, version control, and reproducible research. Provided guest lecture on R in CSC 592 Programming For Scientists during Fall 2014.</li>
</ul>
</dd>
<dt>Aug 2005 – May 2006</dt>
<dd><p>Postdoctoral Teaching Fellow, U.S. Coast Guard Academy, Department of Science, Marine Sciences Section, New London, CT</p>
<ul>
<li>Responsible for teaching 3 laboratory sections of Introduction to Geospatial Sciences (major topics include: introduction to ESRI products, geospatial data management, spatial analysis, cartography, coordinate systems and projections, geodatabases, development of geodatabase for emergency management and hazardous materials response) and teaching 3 sections of a core course in Oceanography (major topics include: marine and coastal ecology, fisheries, meteorology, physical oceanography, coastal oceanography, estuarine classification, and oil spill impact/response).</li>
</ul>
</dd>
<dt>Sep 2002 – Dec 2004</dt>
<dd><p>Graduate Teaching Assistant, University of Rhode Island, Department of Natural Resource Science, Kingston, RI</p>
<ul>
<li>Coordinated Conservation of Populations and Ecosystems course (major topics include: conservation biology, ecological and socioeconomic importance of biodiversity, introductory population, community, and ecosystems ecology, genetics, metapopulations, landscape ecology, and data analysis for conservation biology). Taught laboratory sections for Fundamentals of Geographic Information Systems (major topics include: operating systems essentials for GIS, ArcInfo Workstation, Editing and creating spatial data, cartography, and introductory spatial analysis).</li>
</ul>
</dd>
<dt>May 2003 – Aug 2004</dt>
<dd><p>Geographic Information Systems/Database Consultant, Rhode Island Natural History Survey, Kingston, RI</p>
<ul>
<li>Provided training to Rhode Island Natural History Survey and Ecological Inventory and Monitoring Stewardship Program Staff on ArcView and ArcMap GIS and Trimble GPS. Training focused on use of these products for ecological and natural history applications. June 2001 Geographic Information Systems Consultant, National Park Service, Gateway National Recreation Area, Staten Island, NY Trained Gateway National Recreation Area staff in use of ArcView, Spatial Analyst, and Trimble GPS products.</li>
</ul>
</dd>
</dl>
<h2 id="research-products-and-presentations">Research Products and Presentations</h2>
<dl>
<dt>Peer Reviewed Articles</dt>
<dd><p>Submitted</p>
</dd>
</dl>
<p>: 2010 - Present</p>
<pre><code>- Raposa, K. B., R. L. Weber, W. Ferguson, J. W. Hollister, R. Rozsa, N. Maher, A. Gettman. (In Press).  Drainage enhancement effects on a waterlogged Rhode Island (USA) salt marsh. Estuarine, Coastal and Shelf Science.

- Nojavan, F. A., B. J. Kreakie, J. W. Hollister, S. S. Qian. (In Press). Rethinking the Lake Trophic State Index. PeerJ. [pre-print](https://peerj.com/preprints/27536/) [GitHub](https://github.com/USEPA/rethinking_tsi)

- Raposa, K. B., R. A. McKinney, C. Wigand, J. W. Hollister, C. Lovall, K. Szura, J. A. Gurak Jr., J. McNamee, C. Raithel, and E. B. Watson. (2018). Top-down and bottom-up controls on overabundant New England salt marsh crab populations. PeerJ. [10.7717/peerj.4876](https://doi.org/10.7717/peerj.4876) [GitHub](https://github.com/jhollist/crabs)

- Kuhn, A., S. G. Leibowitz, Z. C. Johnson, J. Lin, J. A. Massie, J. W. Hollister, J. L. Ebersole, J. L. Lake, J. R. Serbst, J. James, M. G. Bennett, R. J. Brooks, C. T. Nietch, L. C. Alexander, J. E. Compton. (2018). Performance of national maps of watershed integrity at watershed scales. Water. [10.3390/w10050604](https://doi.org/10.3390/w10050604) [pdf](http://www.mdpi.com/2073-4441/10/5/604/pdf) [GitHub](https://github.com/usepa/watershed_integrity)

- Hollister, J. W. and J. J. Stachelek. (2017). lakemorpho: Calculating lake morphometry metrics in R.  F1000Research. 6:1718. [10.12688/f1000research.12512.1](https://dx.doi.org/10.12688/f1000research.12512.1). [pdf](http://f1000research.com/articles/6-1718/v1/pdf) [GitHub](https://github.com/usepa/lakemorpho_manuscript)
  
- Chamberlain, S, and J.W. Hollister (2017). lawn: R Client for turf.js for Geospatial Analysis. Version 0.3.3. Journal of Open Source Software 2:11. [10.21105/joss.00194](http://dx.doi.org/10.21105/joss.00194)  [CRAN](https://cran.r-project.org/package=lawn) [GitHub](https://github.com/ropensci/lawn) 
  
- Hart, E., Barmby, P., LeBauer, D., Michonneau, F., Mount, S., Mulrooney, P., Poisot, T., Woo, K.H., Zimmerman, N., Hollister, J. W. (2016). Ten simple rules for digital data storage. PLoS Computational Biology. e1005097.  [10.1371/journal.pcbi.1005097](http://dx.doi.org/10.1371/journal.pcbi.1005097) [pre-print](https://doi.org/10.7287/peerj.preprints.1448v2) [GitHub](https://github.com/emhart/10-simple-rules-data-storage)
  
- Hollister, J. W., W. B . Milstead, B. J. Kreakie. (2016). Modeling Lake Trophic State: A Random Forest Approach. Ecosphere 7:3  [10.1002/ecs2.1321](http://onlinelibrary.wiley.com/doi/10.1002/ecs2.1321/full). [pdf](http://onlinelibrary.wiley.com/doi/10.1002/ecs2.1321/pdf)  [pre-print](http://dx.doi.org/10.7287/peerj.preprints.1319v2) [GitHub](https://github.com/USEPA/LakeTrophicModelling)
  
- Hollister, J.W., B.J. Kreakie (2016). Associations between Chlorophyll a and various Microcystin-LR Health Advisory Concentrations. F1000Research 5:151  [10.12688/f1000research.7955.2](https://dx.doi.org/10.12688/f1000research.7955.2). [pdf](http://f1000research.com/articles/5-151/v2/pdf) [GitHub](https://github.com/USEPA/microcystinchla)
  
- Milstead, W. B., J.W. Hollister, R. B. Moore, H. A. Walker. (2013). Estimating Summer Nutrient Concentrations in Northeastern Lakes from SPARROW Load Predictions and Modeled Hydraulic Residence Time. PLoS ONE 8(11): e81457  [10.1371/journal.pone.0081457](http://dx.doi.org/10.1371/journal.pone.0081457).  [pdf](http://www.plosone.org/article/fetchObject.action?uri=info%3Adoi%2F10.1371%2Fjournal.pone.0081457&amp;representation=PDF)
  
- Hollister, J. W., W.B. Milstead, M.A. Urrutia (2011). Predicting Maximum Lake Depth from Surrounding Topography. PLoS ONE 6(9): e25764 [10.1371/journal.pone.0025764](http://dx.doi.org/10.1371/journal.pone.0025764).  [pdf](http://www.plosone.org/article/fetchObject.action?uri=info%3Adoi%2F10.1371%2Fjournal.pone.0025764&amp;representation=PDF)
  
- Hollister, J. W., W.B. Milstead (2010). Using GIS to Estimate Lake Volume from Limited Data. Lake and Reservoir Management. 26(3)194-199  [10.1080/07438141.2010.504321](http://dx.doi.org/10.1080/07438141.2010.504321).  [pdf](http://jwhollister.com/public/files/HollisterMilsteadLakeVolume.pdf) corrigenda: [10.1080/10402381.2014.930627](http://dx.doi.org/10.1080/10402381.2014.930627)  [pdf](http://www.tandfonline.com/doi/pdf/10.1080/10402381.2014.930627).
  
- Morzillo, A. T., A. G. Mertig, J. W. Hollister, N. Garner, J. Liu (2010). Socioeconomic Factors Affecting Local Support for Black Bear Recovery Strategies. Environmental Management. 45:1299-1311 [10.1007/s00267-010-9485-3](http://dx.doi.org/10.1007/s00267-010-9485-3).  [pdf](http://jwhollister.com/public/files/Morzilloetal2010EnvMonitor_accepted.pdf)
  </code></pre>
<p>: 2000 - 2009</p>
<pre><code>  - Benyi, S. J., J. W. Hollister, J. A. Kiddon, H. A. Walker. (2009). A Process for Comparing and Interpreting Differences in Two Benthic Indices in New York Harbor. Marine Pollution Bulletin. 59:65-71. [10.1016/j.marpolbul.2008.11.009](http://dx.doi.org/10.1016/j.marpolbul.2008.11.009).
  
  - Hale, S. S. and J. W. Hollister. (2009) Beyond Data Management: How Ecoinformatics Can Benefit Environmental Management Programs. Environmental Monitoring and Assessment. 150:227-235 [10.1007/s10661-008-0675-x](http://dx.doi.org/10.1007/s10661-008-0675-x).  [pdf](http://jwhollister.com/public/files/HaleHollisterEcoInfandMonitor2009.pdf)
  
  - Hollister, J. W., J. F. Paul, and H. A. Walker (2008). CProb: A Computational Tool for Conducting Conditional Probability Analysis. Journal of Environmental Quality. 37(6):2392-2396 [10.2134/jeq2007.0536](http://dx.doi.org/10.2134/jeq2007.0536).  [pdf](http://jwhollister.com/public/files/HollisterWalkerPaulCProb_Final.pdf)
  
  - Hollister, J. W., P. V. August, J. F. Paul, and H. A. Walker. (2008). Predicting Estuarine Sediment Metal Concentrations and Inferred Ecological Conditions: An Information Theoretic Approach. Journal of Environmental Quality. 37(1):234-244  [10.2134/jeq2007.0105](http://dx.doi.org/10.2134/jeq2007.0105).
  
  - Hollister, J. W., P. V. August, and J. F. Paul. (2008). Effects of Spatial Extent on Landscape Structure and Sediment Metal Concentration Relationships in Small Estuarine Systems of the United States’ Mid-Atlantic Coast. Landscape Ecology. 23(SI):91-106  [10.1007/s10980-007-9143-1](http://dx.doi.org/10.1007/s10980-007-9143-1).
  
  - Hollister, J. W., M. L. Gonzalez, J. F. Paul, P. V. August, J. L. Copeland (2004). Assessing the Accuracy of the National Land Cover Dataset at Multiple Spatial Extents. Photogrammetric Engineering and Remote Sensing. 70(4):405-414  [10.14358/PERS.70.4.405](http://dx.doi.org/10.14358/PERS.70.4.405).  [pdf](http://www.asprs.org/a/publications/pers/2004journal/april/2004_apr_405-414.pdf).
  
  - Paul, J. F., J. L. Copeland, M. Charpentier, P. V. August, and J. W. Hollister (2003). Overview of Geographic Information Systems applications in Estuarine Monitoring and Assessment Research. Marine Geodesy. 26:63-72  [10.1080/01490410306704](http://dx.doi.org/10.1080/01490410306704).
  
  - Eubanks, J. O., J. W. Hollister C. Guyer, and W.K. Michener. (2002). Reserve Area Requirements for Gopher Tortoises (Gopherus polyphemus). Chelonian Conservation and Biology. 4(2). [pdf](http://jwhollister.com/public/files/Eubanks_etal_2002.pdf)</code></pre>
<dl>
<dt>Chapters</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Cormier, S. and J. W. Hollister. (2011). Chapter 6: Types of Spatial and Landscape Data and Sampling Designs. Pages 6-1:6-32. in USEPA. Landscape and Predictive Tools A Guide to Spatial Analysis for Environmental Assessment. EPA/100/R-11/002. <a href="https://nepis.epa.gov/Exe/ZyNET.exe/P100QIFN.txt?ZyActionD=ZyDocument&amp;Client=EPA&amp;Index=2011%20Thru%202015&amp;Docs=&amp;Query=&amp;Time=&amp;EndTime=&amp;SearchMethod=1&amp;TocRestrict=n&amp;Toc=&amp;TocEntry=&amp;QField=&amp;QFieldYear=&amp;QFieldMonth=&amp;QFieldDay=&amp;UseQField=&amp;IntQFieldOp=0&amp;ExtQFieldOp=0&amp;XmlQuery=&amp;File=D%3A%5CZYFILES%5CINDEX%20DATA%5C11THRU15%5CTXT%5C00000023%5CP100QIFN.txt&amp;User=ANONYMOUS&amp;Password=anonymous&amp;SortMethod=h%7C-&amp;MaximumDocuments=1&amp;FuzzyDegree=0&amp;ImageQuality=r75g8/r75g8/x150y150g16/i425&amp;Display=hpfr&amp;DefSeekPage=x&amp;SearchBack=ZyActionL&amp;Back=ZyActionS&amp;BackDesc=Results%20page&amp;MaximumPages=1&amp;ZyEntry=190">web</a> <a href="public/files/landscape_and_predictive_tools_chap_6.pdf">pdf</a></p></li>
<li><p>Cormier, S. and J. W. Hollister. (2011). Chapter 7: Methods and Tools for Analyzing Spatially Explicit Information. Pages 7-1:7-34. in USEPA. Landscape and Predictive Tools A Guide to Spatial Analysis for Environmental Assessment. EPA/100/R-11/002. <a href="https://nepis.epa.gov/Exe/ZyNET.exe/P100QIFN.txt?ZyActionD=ZyDocument&amp;Client=EPA&amp;Index=2011%20Thru%202015&amp;Docs=&amp;Query=&amp;Time=&amp;EndTime=&amp;SearchMethod=1&amp;TocRestrict=n&amp;Toc=&amp;TocEntry=&amp;QField=&amp;QFieldYear=&amp;QFieldMonth=&amp;QFieldDay=&amp;UseQField=&amp;IntQFieldOp=0&amp;ExtQFieldOp=0&amp;XmlQuery=&amp;File=D%3A%5CZYFILES%5CINDEX%20DATA%5C11THRU15%5CTXT%5C00000023%5CP100QIFN.txt&amp;User=ANONYMOUS&amp;Password=anonymous&amp;SortMethod=h%7C-&amp;MaximumDocuments=1&amp;FuzzyDegree=0&amp;ImageQuality=r75g8/r75g8/x150y150g16/i425&amp;Display=hpfr&amp;DefSeekPage=x&amp;SearchBack=ZyActionL&amp;Back=ZyActionS&amp;BackDesc=Results%20page&amp;MaximumPages=1&amp;ZyEntry=222">web</a> <a href="public/files/landscape_and_predictive_tools_chap_7.pdf">pdf</a></p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li>Michener, W. K., J. B. Atkinson, D. G. Edwards, J. W. Hollister, P. F. Houhoulis, P. M. Johnson, and R. N. Smith. (2000). Habitat Characteristics of Northern Bobwhite Quail-Hunting Party Encounters: A Landscape Perspective. Pages 173-182 in L.A. Brennan, W.E. Palmer, L.W. Burger, Jr., and T.L. Pruden (eds.). Quail IV: Proceedings of the Fourth National Quail Symposium, Tall Timbers Research Station, Tallahassee, FL. <a href="http://www.jonesctr.org/research/research_publications/Pdf/MichenerProcIVNatQuailSymp.pdf">pdf</a></li>
</ul>
</dd>
<dt>Non-peer reviewed work</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Salmon, M, MacDonald A., Woo K., Boettiger, C., Hollister, J. (2017). emldown - From machine readable EML metadata to a pretty documentation website. ROpenSci Blog. <a href="https://ropensci.org/blog/blog/2017/08/01/emldown">web</a>.</p></li>
<li><p>von Hardenberg A, Obeng A, Pawlik A, Pletzer A, Shiklomanov A, Fouilloux A, Fournier A, Marwick B, Brown C. T., Voter C, Hulshof C, Bahlai C, Shaw C, Bouquin D, Stubbs D, Vanichkina D, Fishman D, Wilson E, Hart E, Hannon E, Sügis E, Strauss E, Gan E, Becker E, White E, Rodriguez-Sanchez F, Michonneau F, Boehm F, Ye H, Dashnow H, Lapp H, Ashander J, Byrnes J, Hollister J. W., Chen J, Dunic J, Keane J, Stachelek J, Herr J, Mislan K. A. S., Woo K, Cranston K, Jordan K. L., Ram K, Hertweck K, Todd-Brown K, Lotterhos K, Peck K, Direk K, Hall K, Tylén K, Chatzidimitriou K, Deer L, Gatto L, Wasser L, Tarkowski L, Breckels L, Foos M, Chiapello M, Robinson M, Akenbrand M. J., Kuzak M, Grenié M, Grenié M, Duffy M, Koontz M, Johnston M, Marino N, Carchedi N, Burge O, Lijnzaad P, Lijnzaad P, Peek R, Supp S, Taylor S, Labou S, Pederson S, Webster T, Sandmann T, Teal T, Furnass W, Pearse W, Li Y, Lapp Z, ashander, sfn_brt and suparee (2017). “Data Carpentry: R for data analysis and visualization of Ecological Data.” <a href="https://dx.doi.org/10.5281/zenodo.569338">10.5281/zenodo.569338</a>, <a href="http://datacarpentry.org/R-ecology-lesson">web</a>.</p></li>
<li><p>Kreakie, B. J., J.W. Hollister, W. B. Milstead, F. Nojavan (2015). Computational Ecology and Open Science: Tools to Help Manage Cyanobacteria in Lakes. LakeLines Magazine. <a href="http://www.nalms.org/media.acux/beb75c9c-f812-4753-b888-79864899c6d6">pdf</a></p></li>
<li><p>Kreakie, B. J., J.W. Hollister, W. B. Milstead (2014). Modeling Cyanobacteria Ecology to Keep Harmful Algal Blooms at Bay. US EPA It All Starts with Science Blog. <a href="http://blog.epa.gov/science/2014/06/modeling-cyanobacteria-ecology-to-keep-harmful-algal-blooms-at-bay/">web</a></p></li>
<li><p>Hollister, J. W., B. J. Kreakie, and W. B. Milstead. (2014). Opening our Science: Open Science and Cyanobacterial Research at EPA. US EPA It All Starts with Science Blog. <a href="http://blog.epa.gov/science/2014/06/open-science-and-cyanobacterial-research-at-epa/">web</a></p></li>
<li><p>Hollister, J. W., A. Smith, P. V. August. (2014). Keeping the Bootcamp Fun Alive! Software Carpentry Blog. <a href="http://software-carpentry.org/blog/2014/06/post-mortem-on-uri-bootcamp.html">web</a></p></li>
<li><p>Hollister, J. W., W. B. Milstead. (2013). SPARROWs, Lakes, and Nutrients? US EPA It All Starts with Science Blog. <a href="http://blog.epa.gov/science/2013/12/sparrows-lakes-and-nutrients/">web</a></p></li>
<li><p>Hollister, J. W. (2010). Ecology on the Web – 3 Years Old. Submitted to Ecology on the Web, Bulletin of the Ecological Society of America. 91(2)232–234. doi: <a href="http://dx.doi.org/10.1890/0012-9623-91.2.232">10.1890/0012-9623-91.2.232</a>. <a href="http://www.esajournals.org/doi/pdf/10.1890/0012-9623-91.2.232">pdf</a></p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Morzillo, A. T., J. W. Hollister, C. A. Drew, M. E. Rocca, M. E. Baker, J. M. Bossenbroek, C. A. Mazzarella. (2008). A Young Scientist’s Guide to Gainful Employment: Recent Graduates’ Experiences and Successful Strategies. Bulletin of the Ecological Society of America. 89(2)193-203. doi: <a href="http://dx.doi.org/10.1890/0012-9623(2008)89%5B193:AYSGTG%5D2.0.CO;2">10.1890/0012-9623(2008)89[193:AYSGTG]2.0.CO;2</a>. <a href="http://www.esajournals.org/doi/pdf/10.1890/0012-9623%282008%2989%5B193%3AAYSGTG%5D2.0.CO%3B2">pdf</a></p></li>
<li><p>Hollister, J. W. (2007). Moving Forward with Ecological Informatics and Reproducibility. ESA News and Views Blog. <a href="http://www.esa.org/esablog/?p=62.">web</a></p></li>
<li><p>Hollister, J. W. (2007). Natural Resource Management Partnership Annotated Website Link. Submitted to Ecology on the Web, Bulletin of the Ecological Society of America. 88(2). doi: <a href="http://dx.doi.org/10.1890/0012-9623(2007)88%5B204:WSOITE%5D2.0.CO;2">10.1890/0012-9623(2007)88[204:WSOITE]2.0.CO;2</a>. <a href="http://www.esajournals.org/doi/pdf/10.1890/0012-9623%282007%2988%5B204%3AWSOITE%5D2.0.CO%3B2">pdf</a>.</p></li>
<li><p>Hollister, J. W. and H. A. Walker (2007). Beyond Data: Reproducible Research in Ecology and Environmental Science. Frontiers in Ecology and the Environment. 5(1):11-12. doi: <a href="http://dx.doi.org/10.1890/1540-9295(2007)5%5B10a:TPOC%5D2.0.CO;2">10.1890/1540-9295(2007)5[10a:TPOC]2.0.CO;2</a>.</p></li>
<li><p>Hollister, J. W. and L. M. Ernst (2001) Eelgrass Habitats get a Boost from Geographic Information Systems. Maritimes. 43(1):16-18. <a href="http://jwhollister.com/public/files/HollisterErnst2001Maritimes.pdf">pdf</a></p></li>
</ul>
</dd>
<dt>Thesis and Dissertation</dt>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Hollister, J. W. (2004). Predicting Condition of Small Estuarine Systems Along the United States’ Atlantic Coast. Ph.D. Dissertation, University of Rhode Island. 143 pp. <a href="http://jwhollister.com/public/files/Hollisterdissertation_final.pdf">pdf</a>.</p></li>
<li><p>Hollister, J. W. (1997). An Analysis of Red Spruce Establishment Success in Highland County, Virginia. Masters of Environmental Management Project, Duke University. <a href="http://jwhollister.com/public/files/hollistermasterproject.pdf">pdf</a></p></li>
</ul>
</dd>
<dt>Software and Repositories</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Hollister, J. W. (2016). elevatr: Download Elevation Datasets from Various APIs. Version 0.1.1 <a href="https://cran.r-project.org/package=elevatr">CRAN</a> <a href="http://www.github.com/jhollist/elevatr">GitHub</a></p></li>
<li><p>Hollister, J. W. and J. J. Stachelek. (2016). lakemorpho: Lake morphometry in R. Version 1.1.0 <a href="https://cran.r-project.org/package=lakemorpho">CRAN</a> <a href="http://www.github.com/jhollist/lakemorpho">GitHub</a> <a href="http://dx.doi.org/10.5281/zenodo.51415">10.5281/zenodo.51415</a></p></li>
<li><p>Hollister, J. W. (2015). quickmapr: Quickly Map and Explore Spatial Data. Version 0.1.1. <a href="https://cran.r-project.org/package=quickmapr">CRAN</a> <a href="https://github.com/jhollist/quickmapr">GitHub</a> <a href="http://dx.doi.org/10.5281/zenodo.33135">10.5281/zenodo.33135</a></p></li>
<li><p>Hollister, J. W. (2014). manuscriptPackage: Template package for creating manuscript within an R Package. Version 0.1. <a href="https://github.com/jhollist/manuscriptPackage">GitHub</a></p></li>
</ul>
</dd>
<dt>Bootcamps, Workshops, and Panels</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Hollister, J. W., N. Ross, and C. McCrowey (2019). Introduction to R. Workshop at 2nd Annual USEPA R Users Group Meeting. Durham, NC. March 2019. <a href="https://github.com/uspa/intro_r_workshop">GitHub</a></p></li>
<li><p>Hollister, J. W. (2018). Introduction to R. US EPA Region 2 Regional Offices. New York, NY. June 5-6, 2018. <a href="https://github.com/usepa/region2_r">GitHub</a></p></li>
<li><p>Hollister, J. W. (2018). Introduction to R and Markdown. Narraganset Bay Commission, Providence, RI. April 23, 2018. <a href="https://github.com/jhollist/narrabay_r">GitHub</a></p></li>
<li><p>Hollister, J. W. and F. Nojavan (2018). Introduction to Reproducible Workflows with R, Markdown, and GitHub. Yale University, Center for Industrial Ecology. March 9, 2018. <a href="https://github.com/jhollist/yale_r_2018">GitHub</a></p></li>
<li><p>Hollister, J. W. and M. Beck. (2017). Introduction to R for Analysis of Coastal and Estuarine Data. Coastal and Estuarine Research Fedaration Annual Meeting, Providence, RI. November 2017. <a href="http://www.erf.org/introduction-to-r-for-analysis-of-coastal-and-estuarine-data">Web</a> and <a href="https://usepa.github.io/cerf_r">Web Materials</a></p></li>
<li><p>Hollister, J. W. (2017). R-a-palooza: Introduction to R, Reproducible Research with R, and Spatial analysis/GIS with R. Co-hosted with Stephen KRabbe (USEPA Region 7). US EPA Region 7 Laboratory and Regional Offices. Kansas City, KS and Lenexa, KS. October 2017. <a href="https://github.com/USEPA/region7_r/">GitHub</a></p></li>
<li><p>Hollister, J. W. (2017). Spatial Analysis/GIS with R. Workshop at USEPA R User Group Workshop, Washington, DC. Sep 11- 13, 2017. <a href="https://github.com/usepa/rspatial_workshop">GitHub</a></p></li>
<li><p>Schwartz, R. S. and J. W. Hollister. (2017). Data Carpentry Workshop. Co-hosted with rhodyRstats and URI Coastal Institute. Co-taught with Rachel Schwartz. University of Rhode Island Coastal Institute, Narragansett, RI. June 07-08, 2017. <a href="http://rhodyrstats.org/2017-06-07-uri/">web</a></p></li>
<li><p>Hollister, J. W. (2017). Introduction to R Workshop. Co-hosted with Stephen Krabbe(USEPA Region 7). US EPA Region 7 Regional Laboratory. Kansas City, KS. February 2017. <a href="https://github.com/USEPA/region7_r/blob/master/README_feb_2017.md">GitHub</a></p></li>
<li><p>Hollister, J. W. (2017). rhodyRstats Introduction to R Workshop. Co-hosted with rhodyRstats and URI Coastal Institute. University of Rhode Island Coastal Institute, Narragansett, RI. Jan 19, 2017 <a href="https://github.com/rhodyrstats/intro_r_workshop">GitHub</a></p></li>
<li><p>Peek, R. and J. W. Hollister (2016). Data Carpentry Workshop. Co-hosted with rhodyRstats and URI Coastal Institute. Co-taught with Ryan Peek. University of Rhode Island Coastal Institute, Narragansett, RI. Aug 29-30, 2016. <a href="http://rhodyrstats.org/2016-08-29-uri">web</a></p></li>
<li><p>Hollister, J. W. (2016). Introduction to R. US EPA Atlantic Ecology Division. Narragansett, RI, July 2016 <a href="https://github.com/USEPA/aed_r/tree/master/workshop">GitHub</a></p></li>
<li><p>Hollister, J. W. (2016). Introduction to R. Co-hosted with Erik Beck (USEPA/Region 1) and Katrina Kipp (USEPA/Region 1). US EPA New England Regional Laboratory. Chelmsford, MA. June 2016. <a href="https://github.com/USEPA/region1_r">GitHub</a></p></li>
<li><p>Hollister, J. W. (2016). Introduction to R. Co-hosted with Erik Beck (USEPA/Region 1). US EPA Region 1 Headquarters. Boston, MA. May 2016. <a href="https://github.com/USEPA/region1_r">GitHub</a></p></li>
<li><p>Hollister, J. W. (2016). Introduction to GIS with R. Co-hosted with Sandra Gaona (USEPA/OEI), Shea Caspersen (USEPA/OEI) and Paul Stey (USEPA/OECA). US EPA. Washington, DC. March 2016. <a href="https://github.com/USEPA/intro_gis_with_r">GitHub</a></p></li>
<li><p>Hollister, J. W. (2016). rhodyRstats Intro to R Workshop. Co-Hosted with J. Swift and P. V. August. University of Rhode Island Coastal Institute. Narragansett, RI. January 2016. <a href="https://github.com/rhodyrstats/intro_r_workshop">GitHub</a></p></li>
<li><p>Wilson, A. et. al. (2015). Federal Agency Networking Session. Invited panelist. Organizers: Alan Wilson, Henry Gholz, and Daniel B. Stover. 100th Annual Ecological Society of America meeting. Baltimore, MD. August 2015.</p></li>
<li><p>Hollister, J. W., B. J. Kreakie, W. B. Milstead, and S. Chamberlain (2015). An Open Science And Reproducible Research Primer For Landscape Ecologists. Co-presented with W. B. Milstead, B. J. Kreakie, and S. Chamberlain. International Association for Landscape Ecology World Congress. Portland, OR. July 2015. <a href="http://jwhollister.com/iale_open_science">web</a></p></li>
<li><p>Hollister, J. W. (2015). Introduction to R Workshop. USEPA Atlantic Ecology Division. Narragansett, RI Jan 2015 <a href="https://github.com/USEPA/introR">web</a></p></li>
<li><p>Hollister, J. W. and M. Beck (2015). Introduction to R Workshop. USEPA Gulf Ecology Division. Gulf Breeze, FL. Jan 2015. <a href="https://github.com/USEPA/introR">web</a></p></li>
<li><p>Hollister, J. W. (2015). Introduction to R Workshop. USEPA Atlantic Ecology Division. Narragansett, RI Dec 2014 <a href="https://github.com/USEPA/introR">web</a></p></li>
<li><p>Gonzalez, I., P. Fuller, and J. W. Hollister (2014). Software Carpentry Bootcamp. Co-hosted with J. Swift and P. V. August. Co-taught with P. Fuller and I. Gonzalez. University of Rhode Island Coastal Institute. Narragansett, RI. January 2014. <a href="https://github.com/iglpdc/2014-01-13-uri">web</a></p></li>
<li><p>Hollister, J. W. (2013). R for Spatial Data Management and Analysis. Presented during Student Workshop, US Chapter of the International Association for Landscape Ecology Annual Meeting, Austin, TX. April 2013. <a href="https://sites.google.com/site/ialestudentworkshop/">web</a> <a href="http://figshare.com/articles/USIALE_2013_Student_Workshop_Presentation_R_for_Spatial_Data_Management_and_Analysis/796398">slides</a> <a href="http://figshare.com/articles/USIALE_2013_Student_Workshop_Materials_R_for_Spatial_Data_Analysis/796429">code/data</a>.</p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Morzillo, A. T., and J. W. Hollister. (2007). Job Hunting Experiences of Recent Graduates in Landscape Ecology. Co-organized with A. T. Morzillo US Chapter of the International Association for Landscape Ecology Annual Meeting, Tucson, AZ. April 2007.</p></li>
<li><p>Paul, J. F. and J. W. Hollister. (2006). Conditional Probability Analysis: Demonstration using R and R-Excel. Co-presented with J. F. Paul Workshop for Developing Suspended and Bedded Sediment Water Quality Criteria, Arlington, VA. November 2006.</p></li>
<li><p>Hollister, J. W. (2002). Spatial Analysis Workshop. Invited workshop on Spatial Statistics and Spatial Analysis for St. Lawrence University Faculty and Staff. St. Lawrence University, Canton, NY. December 2002. <a href="http://files.figshare.com/1829425/sluSpatialWorkshop.pdf">slides</a></p></li>
</ul>
</dd>
<dt>Seminars and Presentations</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Kellogg, D., J. W. Hollister, B. J. Kreakie, S. Shivers, E. Herron, L. Green, and A. Gold. (2018). 25 Years of Water Quality Change in Rhode Island Lakes and Ponds. Association for the Sciences of Limnology and Oceanography (ASLO) Summer Meeting, Victoria, British Columbia. June 2018.</p></li>
<li><p>Shiver, S., J. W. Hollister, B. J. Kreakie, W. B. Milstead. (2018). Spatial and Temporal Dynamics of Cyanobacterial Blooms in Two Rhode Island Ponds. New England Association of Environmental Biologists (NEAEB) Annual Conference, Devens, MA. March 2018.</p></li>
<li><p>Hollister, J. W. and W. B. Milstead. (2018). Lakes, landscapes, and R: A framework for open science on freshwater cyanobacteria. U.S. Chapter of the International Association of Landscape Ecology (US-IALE) Annual Meeting, Chicago, IL. April 2018. <a href="https://jhollist.github.io/lakes_landscapes_r/#1">slides</a></p></li>
<li><p>Hollister, J. W. and B. J. Kreakie. (2017). Using Chlorophyll <em>a</em> as a surrogate for exceeding Microcystin Health Advisory Concentrations. Cyanobacteria - Monitoring and Treating Drinking Water: A Workshop for Water Suppliers. December 2017. Worcester, MA. <a href="http://jwhollister.com/microcystin_chla_talk">slides</a></p></li>
<li><p>Hollister, J. W. (2017). An Open Science Framework for Research on Cyanobacteria in Lakes and Ponds. US EPA Region 7 Regional Office, October 2017. Lenexa, KS. <a href="https://jwhollister.com/cyano_open_sci">slides</a></p></li>
<li><p>Hollister, J. W. (2017). R packages as a reproducible framework for lake and cyanobacteria research. US EPA R User Group Annual Meeting. September 2017. Washington, DC. <a href="https://usepa.github.io/reproducible_lakes/">slides</a></p></li>
<li><p>Hollister, J. W. F. Nojava A., B. J. Kreakie. (2017). An Open Science Approach to Modeling and Visualizing Cyanobacteria Blooms in Lakes and Ponds. American Association of Geographsers Annual Meeting. April 2017, Boston, MA. <a href="https://usepa.github.io/cyano_open_sci_aag/">slides</a></p></li>
<li><p>Nojavan, F., B. J. Kreakie, J. W. Hollister. (2017). A Bayesian Multilevel Model for Microcystin Prediction in Lakes of the Continental United States. American Association of Geographers Annual Meeting. April 2017, Boston, MA.</p></li>
<li><p>Nojavan A., F., B. J. Kreakie, J. W. Hollister, S.S. Qian. (2016). Assessing Lake Trophic Status: A Proportional Odds Logistic Regression Model. The Association for the Sciences of Limnology and Oceanography (ASLO) Annual Meeting. June 2016, Santa Fe, NM.</p></li>
<li><p>Kreakie, B. J., F. Nojavan A., J. W. Hollister, W. B. Milstead. (2016). Computational Approaches to Predict Indices of Cyanobacteria Toxicity, National Water Quality Monitoring Council (NWQMC) Annual Meeting. May 2016, Tampa, FL.</p></li>
<li><p>Kreakie, B. J., S. Ernst, T. Hollenhorst, J.W. Hollister, W.B. Milstead, and H. Snook. (2016). cyanoScope: Mapping cyanobacteria one slide at a time. New England Association of Environmental Biologists (NEAEB) Annual Meeting. February 2016, Rockport, ME.</p></li>
<li><p>Hollister, J. W. (2015). Spatial Data Analysis in R: Lightning Demo! Lightning Talk at Northeast Arc Users Group Fall Meeting, November 2015, Burlington, VT. <a href="https://github.com/jhollist/rgis_lightning_demo">GitHub</a>.</p></li>
<li><p>Hollister, J. W. (2015). Open Science: A Zealot’s View. Invited Symposium Speaker, “Emerging Issues and Novel Technologies in Coastal Ecosystem Science”, New England Estuarine Research Society Spring Meeting, April 2015, Bristol, RI. <a href="open_science_neers/">slides</a></p></li>
<li><p>Kreakie, B. J., F. Nojavan, J. W. Hollister. (2014). When Green Goes Bad: A Computational Ecology Approach to a Better Understanding of Cyanobacteria, Nutrients, and Lakes. USEPA Office of Water Oceans, and Wetlands Cyanobacteria webinar series. October 2014. <a href="http://cfpub.epa.gov/si/si_public_record_report.cfm?dirEntryId=292834">web</a> <a href="http://figshare.com/articles/When_Green_Goes_Bad_A_Computational_Ecology_Approach_to_a_better_Understanding_of_Cyanobacteria_Nutrients_and_Lakes/1243644">slides</a>.</p></li>
<li><p>Kreakie, B. J., W. B. Milstead, J. W. Hollister. (2014). When Green Goes Bad: An Interdisciplinary Approach to Better Understand Cyanobacteria, Nutrients, and Lakes. USEPA Safe and Sustainable Water Resources Webinar Series. June 2014. <a href="http://www2.epa.gov/water-research/when-green-goes-bad-interdisciplinary-approach-better-understand-cyanobacteria">web</a>.</p></li>
<li><p>Kreakie, B. J., W. B. Milstead, J. W. Hollister. (2014). Combined Influence of Landscape Composition and Nutrient Inputs on Lake Trophic Structure. US Chapter of the International Association for Landscape Ecology Annual Meeting, Anchorage, AK. May 2014.</p></li>
<li><p>Hollister, J. W. (2014). Blogging, Social Media, and Science: EPA Edition. Presentation given at USEPA Atlantic Ecology Division. March 2014. <a href="epablogpresent/">slides</a>.</p></li>
<li><p>Hollister, J. W. (2012). Who am I and Why am I here: Lakes, Linked Data, and R Invited presentation to Data.gov Semantic Web and Linked Data working group. Aug 2012. <a href="http://files.figshare.com/1829418/jwhLODPresent08152012_v2.pdf">slides</a>.</p></li>
<li><p>Hollister, J.W., W. B. Milstead, K. C. Hychka, H.A. Walker, J. L. Copeland. (2011). Nutrients, Ecosystem Services, and Human Health in Northeastern Lakes and Ponds. Invited Seminar at Western Connecticut State University, Dept of Biology Seminar Series. 30 November, 2011. <a href="http://files.figshare.com/1829419/jwhWCSUSeminar_v3.pdf">slides</a>.</p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Hollister, J. W. and W. B. Milstead. Using GIS to Estimate Lake Volume from Limited Data. Annual Meeting of the North American Lake Management Society, Hartford, CT. October 2009. <a href="http://files.figshare.com/1829427/jwhLakeVolumeNALMS.pdf">slides</a>.</p></li>
<li><p>Hollister, J. W. and W. B. Milstead. A Simple GIS Approach for Estimating Lake Volume from Limited Data. Northeast Arc Users Group Annual Meeting, Nashua, NH. October 2009.</p></li>
<li><p>Hollister, J.W. Using CProb in R and Excel to conduct conditional probability analysis. Annual Meeting of the North East Association of Environmental Biologists, Westport, CT. March 2009.</p></li>
<li><p>Walker, H. A., J. W. Hollister, B. Wilson, R. Scarborough, D. Carter, D Kreeger, K. Laudenabuch-Nelson, A. Howell, C. Strobel. More precise assessment of benthic conditions in Delaware Bay using probability survey data, targeted sampling and acoustic habitat maps. Sixth National Monitoring Conference, Monitoring: Key to understanding our waters. Atlantic City, New Jersey. May 2008.</p></li>
<li><p>Hollister, J. W. The new space race: Getting landscape data more fully integrated into causal analysis. Super Causal Analysis Team Workgroup (SuperCAT) Meeting. February 2008.</p></li>
<li><p>Hollister, J. W. Estuarine monitoring and assessment: The integral role of GIS. Rhode Island Geographic Information Systems Conference, Narragansett RI, June 2007.</p></li>
<li><p>Walker, H. A., J. W. Hollister, B. Wilson, R. Scarborough, D. Carter, D Kreeger, K. Laudenabuch-Nelson, A. Howell, C. Strobel. More precise assessment of benthic conditions in Delaware Bay. Environmental Monitoring and Assessment Program Annual Symposium, Washington DC, April 2007.</p></li>
<li><p>Hollister, J. W. Ecoinformatics: What is it and why should you care? Seminar at US EPA Atlantic Ecology Division, February 2007.</p></li>
<li><p>Hollister, J. W. Predicting Condition of Small Estuarine Systems along the United States Atlantic Coast. Seminar at US EPA Atlantic Ecology Division, June 2006.</p></li>
<li><p>Hollister, J. W., P.V. August, J.F. Paul. Predicting Estuarine Sediment Metal Concentration along the United States’ Atlantic Coast. North Atlantic Chapter of the Society of Environmental Toxicology and Chemistry 12th Annual Meeting, Portland, ME. June 2006.</p></li>
<li><p>Hollister, J. W., P. V. August, J. F. Paul. Predictive modeling of estuarine condition along the United States’ Atlantic Coast. US Chapter of the International Association for Landscape Ecology Annual Meeting, San Diego, CA. April 2006.</p></li>
<li><p>Hollister, J. W., J. Copeland, P. V. August, J. F. Paul. Coastal landscape structure and estuarine condition relationships: How does scale alter model reliability? US Chapter of the International Association for Landscape Ecology Annual Meeting, Las Vegas, Nevada. April 2004.</p></li>
<li><p>Hollister, J. W. Assessing and Monitoring out Nation’s Estuaries: The Past, Present and Future of Geographic Information Systems Applications? Invited Speaker for Geographic Information Systems and Environmental Monitoring special session at the North Atlantic Chapter of the Society of Environmental Toxicology and Chemistry 9th Annual Meeting, Mystic, CT. April 2003</p></li>
<li><p>Hollister, J. W., J. Copeland, P. V. August, J. F. Paul. Assessing the Predictive Capability of Hydrologically Defined Sampling Units for Landscape Analysis. Invited speaker at St. Lawrence University, Canton, NY. December 2002</p></li>
<li><p>Hollister, J. W., J. Copeland, P. V. August, J. F. Paul. Utilizing Hydrologically Defined Sampling Units for Landscape Analysis. Northeast Arc Users Group Annual Meeting, Mt. Washington Hotel, Bretton Woods, NH. November 2002.</p></li>
</ul>
</dd>
<dt>Posters</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Snook, H., B. J. Kreakie, W. B Milstead, and J. W. Hollister. The Cyanobacteria Monitoring Collaborative: Multi-Tiered Approach to Citizen Science Based Cyanobacteria Monitoring. Office of Research and Development Regional Science Poster Session, Durham, NC. September 2018.</p></li>
<li><p>Nojavan, F., B. J. Kreakie. A Bayesian Multilevel Model for Microcystin Prediction in the Continental United States Lakes. 2015 Society for Freshwater Science (SFS) Annual Meeting, Milwaukee, WI May 2015.</p></li>
<li><p>Hollister, J. W., W. B. Milstead, B. J. Kreakie. Expanding Models of Lake Trophic State to Predict Cyanobacteria in Lakes: A Data Mining Approach. 99th Annual Ecological Society of America Annual Meeting, Sacramento, CA. August 2014. <a href="http://f1000research.com/posters/1096851">poster</a></p></li>
<li><p>Copeland, J. L., J. W. Hollister. Geospatial Tools for Ecosystem Services. ESRI International Users Conference, San Diego, CA. June 2010.</p></li>
<li><p>Hollister, J. W., W. B. Milstead. Linking landscapes to ecosystem services: Landscape structure as an indicator and predictor of water clarity in New England lakes. US Chapter of the International Association for Landscape Ecology Annual Meeting, Athens, GA. April 2010.</p></li>
<li><p>Milstead, W. B., J. W. Hollister, H. A. Walker, J. A. Kiddon, J. L. Copeland, H. W. Buffum, M. A. Charpentier, D. J Keith. A Northeastern US Lakes Database to Support Ecosystem Services Research. Annual Meeting of the North East Association of Environmental Biologists, Newport, RI, March 2010.</p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Hollister, J. W., A. Kuhn-Hines, J. L. Copeland. Mapping human population density in and around New Hampshire’s common loon lakes: A comparison of dasymetric methods. US Chapter of the International Association for Landscape Ecology Annual Meeting, Snowbird, UT April 2009.</p></li>
<li><p>Hollister, J. W., J. L Copeland. Where New England Lives: A dasymetric population map for New England. Northeast Arc Users Group Annual Meeting, Hyannis, MA September 2008.</p></li>
<li><p>Hollister, J. W., H. W. Walker. Landscape Thresholds and the Condition of Northeastern Estuaries. New England Estuarine Research Society Spring Meeting. Portsmouth, NH. May 2008.</p></li>
<li><p>Keith, D. J., J. W. Hollister, A. Kuhn-Hines. The Distribution of Colored Dissolved Organic Matter and Salinity along the Southern New England Coast from Aircraft Remote Sensing. American Society of Limnology and Oceanography annual meeting, Orlando, FL. March 2008.</p></li>
<li><p>Hollister, J.W., A. T. Morzillo, E. J. Weissberger, J. A. Nestlerode, and J. F. Paul. Comparing Apples to Apples: Generating a Nationally Consistent Index of Benthic Biology in Estuarine Waters. Estuarine Research Foundation Annual Meeting, Providence, RI November 2007.</p></li>
<li><p>Benyi, S.J., Kiddon, J. A., Hollister, J.W., Walker, H. A. Interpreting Differences in Several Benthic Indices. Estuarine Research Foundation Annual Meeting, Providence, RI November 2007.</p></li>
<li><p>Hollister, J.W. and J.L. Copeland. Relating distance weighted measures of landscapes to water quality: Does distance matter? US Chapter of the International Association for Landscape Ecology Annual Meeting, Tucson, AZ. April 2007.</p></li>
<li><p>Weissberger, E. J. , J. A. Nestlerode, A. T. Morzillo, J. W. Hollister, J. F. Paul. Developing a nationally consistent approach for assessing regional associations between nutrients and benthic biological condition in estuarine waters. Environmental Monitoring and Assessment Program Annual Symposium, Washington DC, April 2007.</p></li>
<li><p>Hollister, J. W., J. F. Paul, J. L. Copeland, M. L. Gonzalez, P.V. August. Accuracy of the 1992 National Land Cover Dataset area estimates: An analysis at multiple spatial extents. North American Land Cover Summit, Washington, DC. September 2006.</p></li>
<li><p>Hayden, B., Brewer C., Estrin D., Goldman J., Michener W., Baru C., Cid C., Collinge S., Foster D., Franklin, J., Goldberg, D., Huenneke, L., Krishtalka, L., Levitt, J., MacMahon, J., Nadelhoffer, K., Palmer, M., Reichman, O. J., Swain, H., Welge, M., Hollister, J. W. Designing the National Ecological Observatory Network (NEON). North American Carbon Program Data Management Workshop, New Orleans, LA. January 2005.</p></li>
<li><p>Hollister, J. W., J. Copeland, P. V. August, J. F. Paul. Assessing the Predictive Capability of Landscape Sampling Units of Varying Scale in the Analysis of Estuarine Condition. US Chapter of the International Association for Landscape Ecology Annual Meeting, Banff, Alberta. April 2003.</p></li>
<li><p>Hollister, J. W., J. F. Paul, J. Copeland, R. L. Comeleo, M. Charpentier, P. V. August, M. Brush. Relating Estuarine Condition with Landscape Structure in the Mid-Atlantic Region of the United States. Ecological Society of America Annual Meeting, Madison, WI. August 2001.</p></li>
<li><p>Hollister, J. W., J. F. Paul, J. Copeland, R. L. Comeleo, M. Charpentier, P. V. August, M. Brush. Landscape Structure and Estuarine Condition in the Mid-Atlantic Region of the United States: II. Assessing the Accuracy of the National Land Cover Dataset at Multiple Extents. Poster Presentation for the US-International Association for Landscape Ecology Annual Meeting, Tempe, AZ. April 2001.</p></li>
<li><p>J. Ott., J. W. Hollister, C. Guyer, and W. K. Michener. Re-evaluating Guidelines for Gopher Tortoise (Gopherus polyphemus) Reserve Design. Ecological Society of America Annual Meeting, Snowbird, UT. August 2000.</p></li>
<li><p>Hollister, J. W., J. Ott, C. Guyer, and W. K. Michener. Estimating Preserve Size for Gopher Tortoises (Gopherus polyphemus). US Chapter of the International Association for Landscape Ecology Annual Meeting, Ft. Lauderdale, FL. April 2000.</p></li>
</ul>
</dd>
<dd><p>Prior to 2000</p>
<ul>
<li>Hollister, J. W. and W. K. Michener. Landscape Ecology of the Northern Bobwhite Quail in the Coastal Plain of Georgia. International Association for Landscape Ecology World Congress, Snowmass, CO. July/Aug 1999.</li>
</ul>
</dd>
</dl>
<h2 id="qualifications-and-activities">Qualifications and Activities</h2>
<dl>
<dt>Programming</dt>
<dd><p>R</p>
<ul>
<li>I started using R in 2003 for data analysis and have been using it daily for basic computing and programming tasks since 2011. I have created packages with four on CRAN (<a href="https://cran.r-project.org/web/packages/quickmapr/index.html">quickmapr</a>, <a href="https://cran.r-project.org/web/packages/lakemorpho/index.html">lakemorpho</a>, <a href="https://cran.r-project.org/web/packages/elevatr/index.html">elevatr</a>, and <a href="https://cran.r-project.org/web/packages/lawn/index.html">lawn</a>) and several in development on <a href="https://github.com/jhollist">GitHub</a>. I co-moderate (with Sarah Goslee) the R-SIG-Ecology mailing list, and have taught several classes/workshops on R. I am the lead maintainer of <a href="https://github.com/ropensci/maptools">rOpenSci’s Maptools CRAN Taskview</a>, I contribute to both the development of <a href="https://github.com/ropensci/lawn">lawn: an R client for turf.js</a> and the <a href="http://ropensci.github.io/reproducibility-guide/">Reproducibility Guide</a>.</li>
</ul>
</dd>
<dd><p>Web</p>
<ul>
<li>Although not a web designer, I have served as a web page maintainer for various organizations since ~2000. Currently I maintain my own website and a few small project websites. I use HTML, CSS, Jekyll, Github pages as the primary development environment and I am comfortable coding sites from scratch and have experience implementing templates and frameworks (i.e. Skeleton or Bootstrap). I have limited experience with javascript and in the past have been responsible for limited maintenance of Apache and IIS servers.</li>
</ul>
</dd>
<dd><p>Python</p>
<ul>
<li>Starting in 2006, I have written Python scripts to interact with ESRI products. Since then, I have also developed many scripts for data management, data collection, interacting with the Twitter API, and communicating with R.</li>
</ul>
</dd>
<dd><p>Java</p>
<ul>
<li>I have about one year experience with Java, primarily from computer science coursework.</li>
</ul>
</dd>
<dd><p>Misc</p>
<ul>
<li>I use markdown and Rmarkdown extensively for developing web content, creating reproducible presentations and writing manuscripts. Over the years I have also used a variety of tools for individual projects. These include Visual Basic for Applications, Arc Macro Language, Typo3, Dreamweaver, Movable Type, Drupal, and RApache</li>
</ul>
</dd>
<dt>Data Management and Analysis</dt>
<dd><p>GIS</p>
<ul>
<li>Since 2012, I have used R (with <code>sp</code>, <code>rgdal</code>, <code>rgeos</code>, <code>raster</code>, and, since its release, <code>sf</code>) as my primary GIS and spatial analysis platform. The prior 17 years I extensively used the ESRI product line including ArcGIS, Arc/INFO, ArcView, ArcIMS and ArcGIS Server, and Geostatistical Analyst. I have limited experience using GRASS.</li>
</ul>
</dd>
<dd><p>Statistics</p>
<ul>
<li>My statistics work has been conducted primarily in R since 2003. I have experience with many many statistical methods including least squares, logistic regression, information theoretic model selection, principal components, multi-dimensional scaling, boosted regression, and Random Forests. In the past I have used SAS, SPSS, SPlus, and SigmaPlot.</li>
</ul>
</dd>
<dd><p>Data</p>
<ul>
<li>I have many years experience managing small to medium-sized research datasets. I have done this using relational databases (Access, SQLite), flat files, and for spatial data, shapefiles, coverages, File Geodatabases, and recently GeoJSON.</li>
</ul>
</dd>
<dd><p>Remote Sensing</p>
<ul>
<li>I have experience analyzing aerial photography and satellite imagery to develop land use/land cover classifications and used a variety of accuracy assessment methods and approaches. Must of my past remote sensing work was conducted with ERDAS Imagine.</li>
</ul>
</dd>
<dd><p>GPS</p>
<ul>
<li>I have collected GPS data from a variety of devices including Trimble ProXR, Trimble GeoExplorer, Trimble GeoXT, Garmin Chartplotters, and associated device specific software.</li>
</ul>
</dd>
<dt>OS and Misc</dt>
<dd><p>Linux</p>
<ul>
<li>I use Red Hat (RHEL 6) and Ubuntu daily. I have built and am responsible for system administration on several Ubuntu (12.04 and 14.04) machines.</li>
</ul>
</dd>
<dd><p>Windows</p>
<ul>
<li>I use Windows (NT/2000/XP/7) daily and am capable of basic systems administration.</li>
</ul>
</dd>
<dd><p>Misc</p>
<ul>
<li>I have extensive knowledge of Microsoft Office 2000-2013 and have some networking and hardware maintenance experience.</li>
</ul>
</dd>
<dt>Research Funding</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>USEPA Safe and Sustainable Water Research Program Task 4.01C: A Data Intensive Investigation of Temperature Impacts and Bloom Modelling. Deputy Task Lead with B. J. Kreakie, Lead. 2016 - 2019.</p></li>
<li><p>Cyanoscope: Smartphone based field microscopy of harmful algal blooms. USEPA, National Health and Environmental Effects Research Lab Citizen Science Competition. With W. B. Milstead, H. Snook., T. Hollenhorst, and B. J. Kreakie. 2016 - 2017. <a href="http://jwhollister.com/public/files/cyanoscope_proposal.pdf">Proposal</a></p></li>
<li><p>USEPA Safe and Sustainable Water Research Program Task 2.3C: Cyanobacteria, nutrients, and land use – a nexus for sustainable water resources and human health protection, co-lead with B. J. Kreakie. 2013 - 2015.</p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>Geospatial Statistical Analysis Seminar, A Cooperative Training Project Between the University of Rhode Island and the US EPA Atlantic Ecology Division, US EPA NHEERL Grant, June 2003. PI’s: P. August, L. González; Co-PI’s: R. Sand, J. Opaluch, J. Hollister, and D. Grossman-Garber.</p></li>
<li><p>Estuarine Condition and Landscape Structure Relationships in the Mid-Atlantic and Southern New England Regions of the United States, EPA/URI Pre-Doctoral Fellowship (Major Advisor: Peter V. August, EPA Mentor: John F. Paul).</p></li>
</ul>
</dd>
</dl>
<div id="awards">

</div>
<dl>
<dt>Awards</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Best Use of GitHub Award, April 2019, bestowed by Emily Stanley for my GitHub pancake recipe repository. <a href="https://twitter.com/EStanLimnology/status/1117081254321643521">Award Announcement Tweet</a></p></li>
<li><p>US EPA, 2015 Bronze Medal for Commendable Service to the Safe and Sustainable Water Resources National Program Tream</p></li>
<li><p>US EPA, Region 1, 2015 Science Achievement Award - Water Quality for Cyanobacteria Monitoring Initiative Team, with Hilary Snook, Betty Kreakie and Bryan Milstead.</p></li>
<li><p>US EPA, Region 1, 2011 Commendable Service Award for Contributions to the Northeast Lakes and Ponds</p></li>
<li><p>2010 US EPA Science and Technological Achievement Award Honorable Mention</p></li>
<li><p>2010 ESRI International Users Conference, First Place Poster in Software Integration.</p></li>
</ul>
</dd>
<dd><p>2000 - 2009</p>
<ul>
<li><p>USEPA, National Health and Environmental Effects Laboratory, 2007 Strategic Goal 4 Award: Science Integration –Interdivisional Laboratory Research, Received with Eric Weissberger, Anita Morzillo, Janet Nestelrode, and John Paul.</p></li>
<li><p>USEPA, Atlantic Ecology Division, 2006 On The Spot Award, Contributions to SABS Workshop</p></li>
<li><p>Best Student Presentation, North Atlantic Chapter of the Society of Environmental Toxicology and Chemistry 9th Annual Meeting, Mystic CT, 2003</p></li>
<li><p>2003 Rhode Island Surfrider Foundation Robert Lloyd Scholarship</p></li>
<li><p>2001 NASA-MSU Professional Enhancement Award</p></li>
</ul>
</dd>
<dd><p>Prior to 2000</p>
<ul>
<li>Phi Eta Sigma National Honor Society</li>
<li>Blue Key National Honor Society</li>
</ul>
</dd>
<dt>Graduate Students</dt>
<dd><p>Galen Scott</p>
<ul>
<li>2013-2015, Ph.D. Oral Defense Committee, University of Rhode Island, Kingston, RI</li>
</ul>
</dd>
<dd><p>Kylie Bishop</p>
<ul>
<li>2008, Ph. D. Thesis Defense Committee, Deakin University, Warrnambool, Australia</li>
</ul>
</dd>
<dd><p>Ann Borowik</p>
<ul>
<li>2008, Masters of Environmental Science and Management Written Comprehensive Exam Committee, University of Rhode Island, Kingston, RI.</li>
</ul>
</dd>
<dt>Societies</dt>
<dd><p>US Chapter of the International Association of Landscape Ecology</p>
<ul>
<li><p>Site Selection Committee 2012- Present (Chair 2012-2014)</p></li>
<li><p>Awards Committee, 2009 - Present</p></li>
<li><p>Counselor at Large, 2012-2014</p></li>
<li><p>Program Chair, 2012 Annual Meeting, Newport, RI</p></li>
<li><p>Strategic Planning Committee, 2004-2006</p></li>
</ul>
</dd>
<dd><p>Northeast Arc Users Group:</p>
<ul>
<li><p>Host Committee and Social Chair, 2010 Northeast Arc Users Group annual meeting in Newport, RI.</p></li>
<li><p>Chair, Poster session 2006 Northeast Arc Users Group annual meeting in Mystic, CT</p></li>
<li><p>Host Committee for 2006 Northeast Arc Users Group annual meeting in Mystic, CT</p></li>
</ul>
</dd>
<dd><p>Ecological Society of America</p>
<ul>
<li>Member, Ecology Data Task Force</li>
<li>Member, lapsed</li>
</ul>
</dd>
<dd><p>Rhode Island Natural History Survey</p>
<ul>
<li>Member, Lapsed</li>
</ul>
</dd>
<dd><p>Society for Conservation GIS</p>
<ul>
<li>Member, lapsed</li>
</ul>
</dd>
<dt>Other Activities</dt>
<dd><p>2010 - Present</p>
<ul>
<li><p>Member, R Consortium Diversity and Inclusion Working Group, June 2018 - Present.</p></li>
<li><p>Member, Data Carpentry Geospatial Curriculum Advisory Committee, March 2018 - Present.</p></li>
<li><p>Data Carpentry Instructor, Mar 2016 - Present.</p></li>
<li><p>Software Carpenty Instructor, Oct 2014 - Present.</p></li>
<li><p>List administrator for R-sig-ecology, a Special Interest Group mailing list on the use R in Ecology, April 2008 - Present.</p></li>
<li><p>Co-lead/co-founder of 2018 Nor’eastR Conference <a href="https://noreastrconf.com" class="uri">https://noreastrconf.com</a>. July 2017 - Nov 2018.</p></li>
<li><p>Provided Peer Review for: Journal of Open Source Software, Journal of Open Source Education Landscape Ecology, Trends in Ecology and Evolution, Plant Ecology, Integrated Environmental Assessment and Management, Remote Sensing of Environment, Journal of Environmental Quality, Selbyana, Minnesota Sea Grant, and numerous USEPA Office of Research and Development internal reviews.</p></li>
</ul>
</dd>
<dd><p>Past</p>
<ul>
<li><p>Adjunct Assistant Professor, Department of Natural Resources Science, University of Rhode Island, Kingston, RI, Jan 2007 - Nov 2016.</p></li>
<li><p>Served on Steering Committee for The Nature Conservancy’s Northeast Lake and Pond Classification System. link: (<a href="http://nature.ly/NElakes" class="uri">http://nature.ly/NElakes</a>) <a href="https://easterndivision.s3.amazonaws.com/Freshwater/Northeast_Lake_and_Pond_Classification.pdf">pdf</a></p></li>
<li><p>Liaison between USEPA’s Ecosystem Services Research Program (ESRP) and the National Ecological Observatory Network (NEON).</p></li>
<li><p>Participated in the Causal Analysis/Diagnosis Decision Information System (CADDIS) Planning Retreat at Hueston Woods Conference Center, Oxford, OH, April 30 – June 3.</p></li>
<li><p>Co-organized (along with Jason Grear, Suzy Ayvazian, Peter August and Deb Coty) a short course by David Anderson entitled, “Information Theoretic Model Selection and Multimodel Inference in Science and Management”, March 28-29, URI Coastal Institute, Narragansett, RI.</p></li>
<li><p>Section Editor,“Ecology on the Web” Department of the Bulletin of the Ecological Society of America, 2007 - 2010.</p></li>
<li><p>Attended Science Environment for Ecological Knowledge (SEEK) Postdoctoral and New Faculty Training in ecoinformatics: Jan 8-12, 2007, University of New Mexico.</p></li>
<li><p>Graduate Student Representative to Department of Natural Resources Science at the University of Rhode Island for 4 years</p></li>
<li><p>Graduate student representative at URI-ADVANCE workshops with Department of Natural Resources Science at the University of Rhode Island</p></li>
<li><p>Helped draft a Diversity Statement for Department of Natural Resources Science at the University of Rhode Island</p></li>
<li><p>Assisted with compiling links of software and graduate programs in spatial ecology for the <a href="http://www.usiale.org/related-links">US-IALE web page</a>.</p></li>
</ul>
</dd>
<dd><p>Additional Information</p>
<ul>
<li><p>Award Winning Homebrewer</p></li>
<li><p>Barbeque-er</p></li>
<li><p>Mediocre Dart player</p></li>
<li><p>Retired mediocre Ultimate player</p></li>
<li><p>SCUBA Certified</p></li>
</ul>
</dd>
</dl>
</div>
