---
title: My project management workflow, or, how I make the most of limited mental bandwidth
author: Jeffrey Hollister
draft: true
date: '2018-06-20'
categories:
  - R
tags:
  - github
  - projects
  - RStudio
---



<p>Several weeks ago, there was some activity on Twitter espousing the virtues RStudio projects, including a mention of Jenny Bryan’s post on <a href="https://www.tidyverse.org/articles/2017/12/workflow-vs-script/">Project-oriented workflow</a> Reading through the tweets and re-reading Jenny’s post reminded me that even though many of us use Projects or other tools to organize our work, the specifics of our toolset and workflows are still likely unique and reflect a lot of personal decisions and preferences. The other thing that struck me is that aside from Jenny’s post, I have rarely seen these types of things documented (they may be, I just blissfully unaware). If they were documented, we could possibly learn from each others practices. So, in this post I lay out the workflow I use in case others might find something useful in it. I would also be interested in hearing how others organize their own work, so please do comment below with your own ideas.</p>
<div id="my-take-on-project-oriented-workflow" class="section level1">
<h1>My take on “Project oriented workflow”</h1>
<p>Do what Jenny said. In other words, the purpose of this post are to talk about issues outside of what was in Jenny’s post.</p>
</div>
<div id="flat-folder-structure-projects" class="section level1">
<h1>Flat folder structure: <code>projects/</code></h1>
</div>
<div id="rstudio-all-the-things" class="section level1">
<h1>RStudio all the things</h1>
</div>
<div id="github-as-the-hub" class="section level1">
<h1>GitHub as the hub</h1>
<p><a href="https://jenthompson.me/2018/06/23/work-online-cautionary/" class="uri">https://jenthompson.me/2018/06/23/work-online-cautionary/</a></p>
<p>I find that min case the workflow I have developed over the years</p>
</div>
